<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DateApp</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="main.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
            <div>
                    <button ng-click="loadPersonList()" class="btn">LoadPersonList</button>
                    <button ng-click="weird()" class="btn">Load</button>
                    <input type=radio name="gender" ng-model="isMaleSelected">Male</input>
                    <input type=radio name="gender" ng-model="isFemaleSelected">Female</input>
                    
            </div>
            <div>
                    <div>
                        <h1>Added by AngularJs</h1>
                        <div data-ng-repeat="person in personList">
                            <div>{{person.name}}</div>
                            <div>{{person.gender}}</div>
                            <div><a href="Detail.html?id=" + {{person.idValue}} + "target='_self'"><img src={{person.picture}}></a></div>
                        </div>
                    </div>
            </div>
            
    </div>
    <div id="content"></div>

</body>
</html>